/* .abou{
    position:absolute;
    top:392px;
    left:58px;
    width:1145px;
}

.line{
    position:relative;
    top:-29px;
    height: 1px;
    background: white;
}
.line2{
    
    height: 3px;
    background: white;
    width: 60%;
    position:relative;
    top:-31px;
    left:80%;
}



.about-header{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;  
    color:#ffffff;
}

.about-header-text h1{ 
    margin-bottom: -2%;
    line-height: 40px;

} */