.abou {
    position: absolute;
    top: 457px!important;
   
}


.line {
    margin-top: -1%;
    height: 1px;
    background: white;
}

.about-line2 {

    height: 3px;
    background: white;
    width: 15%;
    position: relative;
    top: -2px;
    left: 85%;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    top:92px;
}

.about-header-text{
    position:relative;
    top:-46px;
}

.About-sliz{
    margin-top: 100px;
    margin-bottom: 150px;
   }
   .about-text{
    position:relative;
    left:135px;
    top:41px;
   }

   .About-sliz .about-text{
    left:33px;
    top:71px;
   }

   .about-text p{
    font-size:16px;
    width:536px;
   }

   

    .about-text p:nth-child(2){
        
        padding-right: 33%;
    }
     
    .about-text p:nth-child(3){
        
        padding-right: 32%;
    }



.home-header-text h1 {
    margin-bottom: -2%;
    
    height: 88px;
    position: relative;
    top: -9px;
    line-height: 1em;

}

.abou .about-header .about-icon {
    position: relative;
    left: 925px !important;;
 top: -47px !important;;
}

.about-header .about-icon svg {
    position: relative;
    left: -20px;
    top: 19px;

}

.abou .about-header .about-header-text{
    position:relative;
    left:42px;
   }


   .About-sliz .about-abt-img img{
    display:inline-block;
    transform:translatex(0px) translatey(0px) !important;
    width:484px;
    margin-right:0px;
   }


   .soccer{
    background-image: 
    url("../img/Bannerimg3.png");
    height: 500px;
    background-size: cover;
    border-radius: 12px;
    background-color:#181010;
    background-position: bottom;
  
   
   }

   .soccer .soccer-text p{
    position:relative;
   
    color:#ffffff;
    width:457px;
    font-size:16px;
    line-height:1.3em;
    top:159px;
    left:45px;
    letter-spacing:-0.09999999999999998px;
   }

   .scene {
    margin-top: 100px;
   }

   .scene .row{
    justify-content: center;
    align-items: center;
   }
   .scene .tabz-active{
    position:relative;
    left:62px;}

   .scene h2{
    text-align: center;
    line-height: 56.56px;
    font-weight: 900;
   }

   /* .tabz-active::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #000000;
} */

   .bloc-tabz{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
   }

   .scene .tabz{
    margin-top: 80px;
   }

   .scene-text p{
    width:368px;
   }

   .scene-text h3{
    color: black;
    font-weight: 900;
   }

   .scene-text .linky{
    line-height: 38px;
    background: #000000;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 180px;
   }

   .group1{
    border:2px solid black;
    border-radius: 60%;
    height: 150px;
    width: 150px;
    padding: 10px;
   }

   .group1 img{
    height: 124px;
border-radius: 54%;
}

   .bloc-tabz div:nth-child(2){
      margin-left: 20px;
      margin-right: 20px;
   }

   .Afi {
    margin-top: 100px;
    text-align: center;
   }

   .Afi h4{
    margin-bottom: 50px;
   }

.p{
    height: 130px;
    width: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgb(151 149 149 / 31%);
    border-radius: 10px;
    padding: 20px;
}

.aboutfooter{
    margin-top: 350px;
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .abou .about-header .about-header-text{
        text-align: center;
        color: red;
        position: relative;
        
    }

    .about-header{
        top: 239px;
    }
    .abou .about-header .about-header-text h1{
        position: relative;
        top: 81px;
    }
} */

/* @media all and (min-width: 1280px){
    .abou .about-header .about-header-text{
        text-align: center;
        color: red;
    }
    .abou .about-header .about-header-text h1{
        position: relative;
        top: 81px;
    }
} */

@media all and (max-width: 768.98px) { 

    .abou .about-header .about-header-text{
       
        left: 100px;
    }
    .about-header{
        top: 0;
    }
    .abou .about-header .about-header-text h1{
        font-size: 40px;
        font-weight: 900;
    }
    .about-line2{
        display: none;
    }
    .abou .about-header .about-icon {
        display: none;
    }
    .About-sliz .about-abt-img img{
        width: 100%;
        margin-top: 35px;
    }
    .About-sliz .about-text {
        left: 0;
        top: 7px;
        bottom: 10%;
        text-align: center;
    }
    .about-text p:nth-child(2){
        padding-right: 0;
    }
    .about-text p:nth-child(3){
        padding-right: 0;
    }
    .about-text p{
        width: 100%;
    
    }

    .scene p{
        width: 360px;
    text-align: center;
    }
    .home-abt-img {
        margin-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
    }
    .About-sliz .home-abt-img img{
        width: 300px;
        margin-left: 0;
        margin-bottom: 11%;
    }
    .footbal-img img{
        width: 400px;
        height: 200px;
        
    }
    .soccer .soccer-text p{
        width: 100%;
        left: 0;
        
    }

    .scene .row{
        flex-direction: column-reverse;
    }

    .group1{
        height: 103px;
        width: 103px;
        padding-left: 13%;
    }

    .group1 img{
        width: 71px;
        height: 66px;
        transform: translatex(0px) translatey(7px);
    }

    .bloc-tabz{
        margin-left: 0;
    }
    
    .scene .tabz{
        left: 0;
    }

    .p{
        height: 215px;
        width: 100%;
        margin-bottom: 30px;
        padding: 31px;
    }


    .nuz-upx{
        flex-direction: column;
    }
    .news-updates .nuz-upx .nuz{
        width: 100%;
        left: 0;
        height: 469px;
    }
    .rid{
        left: 13%;
    width: 73%;
    }

    .upz1{
        width: 100%;
       margin-left: 0;
       margin-top: 30px;
       /* flex-direction: column; */
       display: flex;
       flex-direction: column;
       height: 380px;
    }

    .upz-img{
        width: 100%!important;
        margin-top: 3%;
    }

    .upz-text{
        padding: 40px 0;
        text-align: center;
    }

    .fom-img img {
        display:none
    }
    .fomu input{
        width:100%
    }
    .fomu textarea {
        width: 100%;
    }
    .partners{
        flex-direction:column
    }

    .partner-img{
        width: 307px;
        height: 250px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block1{
       display:none
    }

    
   }


   @media all and (min-width: 1250px) {
    .abou{
        top: 648px;
    }
    .group1{
        height: 153px;
    width: 151px;
    padding: 12px;
    }

    .group1 img{
        height: 124px;
    border-radius: 54%;
    }
   }


   @media only screen and (max-width: 991.98px) and (min-width: 768px) {
    .abou{
        top: 90%;
    }
    .abou .about-header .about-icon {
        left: 579px;
    }
    .About-sliz .about-text {
        left: 55%;
    }
    .news-updates .nuz-upx .nuz{
        height: 629px;
    }

    .upz1{
        height: 450px;
    }
    .upz .upz1 p{
        padding: 0 28%;
    }
    .fom-img img{
        display: block;
    }

    .partners{
        flex-direction: row!important;
    }
    .partner-img{
        height: 140px!important;
    }
   }

  