.header {
  height: 100vh;
  background-image: 
  url("../img/banner.png");
  background-size: cover;
  background-repeat:no-repeat; 
  background-position: center center;
  
  }
  /* .header.Home {
  
  } */
  .header.about {
    height: 100vh;
    background-image: 
    url("../img/Banner\ img1.png");
    background-size: cover;
    background-repeat:no-repeat; 
    background-position: center center;
   
  }
  .header.events {
    height: 100vh;
    background-image: 
    url("../img/Bannerimg3.png");
    background-size: cover;
    background-repeat:no-repeat; 
    background-position: center center;
   
  }

  .header.news {
    height: 100vh;
    background-image: 
    url("../img/Bannerimg3.png");
    background-size: cover;
    background-repeat:no-repeat; 
    background-position: center center;
  }

  .header.upcomig {
    height: 100vh;
    background-image: 
    url("../img/banner.png");
    background-size: cover;
    background-repeat:no-repeat; 
    background-position: center center;
    opacity: 0.8; 
   
  }

  .header.contact-us {
    height: 100vh;
    background-image: 
    url("../img/Bannerimg3.png");
    background-size: cover;
    background-repeat:no-repeat; 
    background-position: center center; 
    opacity: 0.8;
  }