.con-icon{
    position:relative;
    left:880px;
 top:-49px;
 display: flex;
   }

   /* @media all and (max-width: 513px) { .con-icon{
    background-color: green;
   } } */

   @media all and (max-width: 768px) { 
    .con-icon{
        background-color: red;
        left: 0;
        text-align: left;
    }
   }

   /* @media all and (max-width: 830px) {  .con-icon{
    background-color: blue;
    left: 0;
}} */