.con-icon {
  position: relative;
  left: 880px;
  top: -49px;
  display: flex;
}

.cont-img {
  width: 100%;
  height: 400px;
  margin-top: 80px;
}
.hed {
  font-family: Cera Pro;
  font-size: 35px;
  font-weight: 900;
  line-height: 57px;
  letter-spacing: 0em;
  margin-top: 20px;
}

.hed2 {
  margin-left: 31%;
}

.add-img1 {
  margin-left: 30%;
  display: flex;
  align-items: flex-start;
}

.add-img img{
    margin-right: 20px;
}

.add-img{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}

@media all and (max-width: 768px) {
  .con-icon {
    display: none;
  }

  .abou{
    top: 457px!important;
  }

  .cont-img img{
    height: 100%!important;
    object-fit: cover;
  }

  .hed{
    margin-bottom: 36px;
    margin-left: 31%;
    font-size: 20px;
  }

  .hed2{
    margin-left: 0;
    font-size: 20px;

  }
  .add-img{
    justify-content: center;
  }
  .add-img1{
    margin-left: 0;
    justify-content: center;
  }
}

/* @media all and (min-width: 1240px) {  
    
        
        .con-icon{
            background-color: red;
            left: 0;
           color: red;
    }
} */



@media all and (min-width: 1250px) {
 .con-icon{
    left: 907px;
 }
}

@media only screen and (max-width: 991.98px) and (min-width: 768px) {
  .con-icon {
    left: 538px!important;
  }

}


@media only screen and (max-width: 1024.98px) and (min-width: 992px) {
  .con-icon {
    left: 707px!important;
  }
}

@media only screen and (max-width: 830px) and (min-width: 576px) {
  .abou-con{
      left: 0!important;
      top: 87%!important;

  }
  .con-icon {
      left: 490px!important;
  }
}

@media only screen and (min-width: 1440px) {
  .con-icon {
    left: 1075px!important;
}
.cont-img{
  margin-bottom: 13%!important;
}
}