.hom {
    position: absolute;
    top:416px;
    left: 58px;
    /* width:1145px; */
}

.line {
    margin-top: -1%;
    height: 1px;
    background: white;
}

.line2 {

    height: 3px;
    background: white;
    width: 15%;
    position: relative;
    top: -2px;
    left: 85%;
}



.home-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    top: 6px !important;;
    
}

.hom .home-header .home-header-text{
    position:relative;
    top: -4px !important;;
   }

.home-header-text h1 {
    margin-bottom: -2%;
    line-height: 33px;
    height: 88px;
    position: relative;
    top:-9px;
 line-height:1em;

}

.hom .home-header .header-icon {
    position: relative;
    top: -10px !important;;
  
    left: 650px;
}

.home-header .header-icon svg {
    position: relative;
    top:13px;
    left:-7px;

}

.home-header .header-icon h6{
    position:relative;
    top:-7px;
    left:17px;
   }
   

.service-text {
    margin-top: 30%;
}

.bloc-tabs {
    display: flex;
    justify-content: center;
    align-items: center;


}

.line3 {
    border-bottom: 1px solid #000000;
    opacity: 0.6;
    position: relative;
    top: 104px;
}

.active-tabs {
    border-bottom: 4px solid #000000;
}

.tabs {
    margin-top: 5%;
}

.tabs h2{
    cursor: pointer;
}


.bloc-tabs div:nth-child(2) {
    margin-left: 10%;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #000000;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

.football {
    margin-top: 120px;
}

.footbal-img img {
    display: inline-block;
    width: 1105px;
    max-width: 1123px;
    height: 400px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0.71%, rgba(0, 0, 0, 0.16) 100%);
    object-fit: cover;
    overflow-x: hidden;
}

.footbal-img {
    margin-left: 1%;

    overflow-x: hidden;
}

.news-updates {
    margin-top: 140px;

}

.news-updates h3 {
    margin-bottom: 50px;
}


.nuz-upx {
    display: flex;
}

.news-updates .nuz-upx .nuz {
    position: relative;
    left: 11px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 1%;
    width: 700px;
    height: 530px;

}

.nuz-text p:nth-child(1) {
    font-size: 24px;
    font-weight: 900;
    color: #000000;
    margin-top: 1%;
}

.nuz-text p:nth-child(2) {
    font-size: 14px;
    color: #000000;
    opacity: .5;
    margin-top: -3%;
}

.nuz .nu-things p{
    position:relative;
    top:38px;
   }

.rid {
    display: flex;
}

.y {
    font-size: 14px;
    color: #000000;
    font-weight: 400px;
    padding-right: 8%;
    width: 83%;
}

.rid {
    text-decoration: none;
    background-color: #000000;
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 14px;
    position: absolute;
    top: 90%;
    left: 83%;
    border-radius: 4px;
}

.upz1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-left: 5%;
    width: 400px;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    height:170px;
}

.upz-img {
    width: 460px !important;
    height: 450px!important;
}

.upz-img img {
    width: 100% !important;
    object-fit: contain !important;
    height: 24vh;

}

.upz-text {
    margin-left: 2%;
    padding: 11px 0;
}

.upz-text p{
    font-size: 12px;
    margin: 0;
}

.upz .upz1 p{
    position:relative;
    top:5px;
   }
   
.t{
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-gallery{
    margin-top: 100px;
}

.contact{
    background: #000000;
    height:456px;
    margin-top: 130px;
    position: relative;
}

.fom-img{
    margin-left: 60px;
    width: 450px;
    height: 300px;
    position: absolute;
    transform:translatex(10px) translatey(-41px);
}

.fom-img img{
    max-width: 100%;
    height: 450px;
  
}

.business{
    margin-top: 100px;
    text-align: center;
}

.newsimg{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media all and (max-width: 768px) { 
    .hom {
        position: absolute;
        top:50%;
        left: 18%;
        
    }
    .hom .home-header .header-icon {
       display: none;
    }
    .line{
        display: none;
    }
    .line2{
        display: none;
    }
    .menu-bars1{
        left: 85%;
    }
    .home-header-text{
        text-align: center;
        left: 0;
    }

    .fom-img{
        width: 100%!important;
        display: none;
    }
    .scene-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   
   }

 

@media all and (min-width: 1250px) {
    .hom{
        top: 648px;
    }
    .upz-img img{
        height: 18vh;
    }
}


@media only screen and (max-width: 991.98px) and (min-width: 768px) {
    .hom{
        top: 86%;
        left: 13px;

    }
    .hom .home-header .header-icon {
        left: 309px;
    }
    .About-sliz .home-abt-img img{
        width: auto!important;
    }
    .home-abt-img{
        width: 100%!important;
        left: -34px!important;
        display: block!important;
    }

    .upz-img img{
        height: 24vh;
    }

    .footbal-img{
        margin-left: 0!important;
    }
    .footbal-img img{
        width: 100%!important;
    }
    /* .hom-cont .row{
      flex-direction: column;
    } */
    .service-text{
        margin-top: 0!important;
    }

    .fom-img{
        width: 319px!important;
        margin-left: 24px;
    }
    .upz-img img{
        height: 24vh!important;
    }
    .rid{
        width: 34%;
        top: 87%;
        left: 57%;
    }
    .loc3{
        left: 0!important;
    }
}

@media only screen and (max-width: 1199.98px) and (min-width: 992px) {
.hom{
    top: 662px!important;
}
.hom .home-header .header-icon{
    left: 590px;
}
.upz-img img{
    height: 18vh!important;
}
.rid{
    top: 89%!important;
    left: 75%!important;
    width: 17%!important;
}
.fomu textarea{
    width: 497px!important;
}
}