.hom {
    position: absolute;
    top:416px;
    left: 58px;
   
}

.line {
    margin-top: -1%;
    height: 1px;
    background: white;
}

.line2 {

    height: 3px;
    background: white;
    width: 15%;
    position: relative;
    top: -2px;
    left: 85%;
}



.home-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    top: 6px !important;;
    
}

.hom .home-header .home-header-text{
    position:relative;
    top: -4px !important;;
   }

.home-header-text h1 {
    margin-bottom: -2%;
    line-height: 33px;
    height: 88px;
    position: relative;
    top:-9px;
 line-height:1em;

}

.hom .home-header .header-icon {
    position: relative;
    top: -10px !important;;
  
    left: 650px;
}

.home-header .header-icon svg {
    position: relative;
    top:13px;
    left:-7px;

}

.home-header .header-icon h6{
    position:relative;
    top:-7px;
    left:17px;
   }
   

.service-text {
    margin-top: 30%;
}

.bloc-tabs {
    display: flex;
    justify-content: center;
    align-items: center;


}

.line3 {
    border-bottom: 1px solid #000000;
    opacity: 0.6;
    position: relative;
    top: 104px;
}

.active-tabs {
    border-bottom: 4px solid #000000;
}

.tabs {
    margin-top: 5%;
}

.tabs h2{
    cursor: pointer;
}


.bloc-tabs div:nth-child(2) {
    margin-left: 10%;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #000000;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

.football {
    margin-top: 120px;
}

.footbal-img img {
    display: inline-block;
    width: 1105px;
    /* max-width: 1123px; */
    height: 400px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0.71%, rgba(0, 0, 0, 0.16) 100%);
    object-fit: cover;
    overflow-x: hidden;
}

.footbal-img {
    margin-left: 1%;

    overflow-x: hidden;
}

.news-updates {
    margin-top: 140px;

}

.news-updates h3 {
    margin-bottom: 50px;
}


.nuz-upx {
    display: flex;
}

.news-updates .nuz-upx .nuz {
    position: relative;
    left: 11px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 1%;
    width: 700px;
    height: 530px;

}

.nuz-text p:nth-child(1) {
    font-size: 24px;
    font-weight: 900;
    color: #000000;
    margin-top: 1%;
}

.nuz-text p:nth-child(2) {
    font-size: 14px;
    color: #000000;
    opacity: .5;
    margin-top: -3%;
}

.nuz .nu-things p{
    position:relative;
    top:38px;
   }

.rid {
    display: flex;
}

.y {
    font-size: 14px;
    color: #000000;
    font-weight: 400px;
    padding-right: 8%;
    width: 83%;
}

.rid {
    text-decoration: none;
    background-color: #000000;
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 14px;
    position: absolute;
    top: 90%;
    left: 83%;
    border-radius: 4px;
}

.upz1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-left: 5%;
    width: 400px;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    height:170px;
}

.upz-img {
    width: 460px !important;
    height: 450px!important;
}

.upz-img img {
    width: 100% !important;
    object-fit: contain !important;
    height: 24vh;

}

.upz-text {
    margin-left: 2%;
    padding: 11px 0;
}

.upz-text p{
    font-size: 12px;
    margin: 0;
}

.upz .upz1 p{
    position:relative;
    top:5px;
   }
   
.t{
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-gallery{
    margin-top: 100px;
}

.contact{
    background: #000000;
    height:456px;
    margin-top: 130px;
    position: relative;
}

.fom-img{
    margin-left: 60px;
    width: 450px;
    height: 300px;
    position: absolute;
    transform:translatex(10px) translatey(-41px);
}

.fom-img img{
    max-width: 100%;
    height: 450px;
  
}

.business{
    margin-top: 100px;
    text-align: center;
}

.newsimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 320px) { 
    .hom{
        left: 5%!important;
    }
    .about-text p:nth-child(3){
        margin-bottom: 17%!important;
    }
    .hom-cont{
        margin-top: 21%!important;
    }
    .news-updates .nuz-upx .nuz{
        padding:  20px!important;
        height: 494px!important;
    }
    .contact{
        height: 467!important;
    }
}


@media all and (max-width: 768px) { 
    .hom {
        position: absolute;
        top:50%;
        left: 7.5%;
        
    }
    .hom .home-header .header-icon {
       display: none;
    }
    .line{
        display: none;
    }
    .line2{
        display: none;
    }
    .menu-bars1{
        left: 85%;
    }
    .home-header-text{
        text-align: center;
        left: 0;
    }
    .tabs {
        margin-top: 16%;
    }

    .fom-img{
        width: 100%!important;
        display: none;
    }
    .scene-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   
   }

 

@media all and (min-width: 1250px) {
    .hom{
        top: 591px;
    }
    .upz-img img{
        height: 18vh;
    }
}


@media only screen and (max-width: 991.98px) and (min-width: 768px) {
    .hom{
        top: 86%;
        left: 13px;

    }
    .hom .home-header .header-icon {
        left: 351px;
    }
    .About-sliz .home-abt-img img{
        width: auto!important;
    }
    .home-abt-img{
        width: 100%!important;
        left: -34px!important;
        display: block!important;
    }

    .upz-img img{
        height: 24vh;
    }

    .footbal-img{
        margin-left: 0!important;
    }
    .footbal-img img{
        width: 100%!important;
    }
    /* .hom-cont .row{
      flex-direction: column;
    } */
    .service-text{
        margin-top: 0!important;
    }

    .fom-img{
        width: 319px!important;
        margin-left: 68px;
    }
    .upz-img img{
        height: 17vh!important;
    }
    .rid{
        width: 84%;
        top: 86%;
        left: 8%;
        padding: 13px!important;
    }
    .loc3{
        left: 5!important;
    }
}

@media only screen and (max-width: 1024.98px) and (min-width: 992px) {
.hom{
    top: 590px!important;
}
.hom .home-header .header-icon{
    left: 463px;
}
.upz-img img{
    height: 18vh!important;
}

.footbal-img img {
    width: 100%!important;
}
.fom-img{
    width: 350px!important;
}
.rid{
    top: 89%!important;
    left: 75%!important;
    width: 17%!important;
}
.fomu textarea{
    width: 497px!important;
}
}

@media only screen and (max-width: 830px) and (min-width: 576px) {
   
    .hom{
        top: 78%;
        left: 3%;
    }
    .About-sliz .about-text h2{
        margin-left: 0!important;
    }
    .hom .home-header .header-icon{
        display: block;
        left: 120px;
    }
    .hom .home-header .home-header-text{
        text-align: inherit;
    }
    .About-sliz .home-abt-img img{
        width: 559px!important;
    margin-left: 109px!important;
    }
    .About-sliz .about-text{
        left: 58%!important;
    }
    .about-text p:nth-child(3){
        margin-bottom: 10%!important;
    }
    .about-text .link{
        margin-left: -3%!important;
    }
    .hom-cont{
        margin-top: 6%!important;
    }
    .tabs {
        margin-top: 9%;
    }
    .news-updates .nuz-upx .nuz{
        height: 690px!important;
    }
    .nuz-text p:nth-child(2){
        margin-top: -2%!important;
    }
    .upz-img img {
        height: 35vh!important;
    }
    .upz1{
        height: 506px!important;
    }
    .upz .upz1 p {
        /* top: -12!important; */
        font-size: 16px!important;
        padding: 0 20px!important;
    }

    .fom-img {
        width: 294px!important;
        margin-left: 68px!important;
    }
}

@media only screen and (min-width: 1440px) {
    .hom {
        top: 574px!important;
        left: 84px!important;
    }
    .hom .home-header .header-icon{
        left: 774px!important;

    }
    .line3{
        top: 128px!important;
    }
    .about-text p:nth-child(3){
        padding-right: 10%!important;
        margin: 8% 0!important;
    }
    .about-text p:nth-child(2){
        padding-right: 10%!important;
    }

    .hom-cont{
        margin-top: 3%!important;
    }
    .contact{
        margin-top: 185px!important;
    }
    .fom-img img {
        max-width: 100%;
        height: 494px!important;
    }

    .fom-img{
        transform: translatex(10px) translatey(-83px)!important;
    }

    .footbal-img img{
        width: 1278px!important;
    }

    .nuz-upx{
        justify-content: space-around;
    }

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
    
    .hom .home-header .header-icon{
        left: 279px;
    }
    .sen {
        width: 31%!important;
        left: 42%;
    }
  }

  /* @media only screen and (min-height: 844px)
  {
    .tabs {
        margin-top: 16.5%;
    }
    .hom{
        background-color: yellow;
    }
   } */

   /* @media only screen and (min-height: 740px)
{ 
    .hom{
        background-color: orange;
    }
 } */


 
