   /* .tz{
    position:relative;
    top:90px;
   } */

   .About-sliz{
    margin-top: 100px;
    margin-bottom: 150px;
   }
   .about-text{
    position:relative;
    left:135px;
    top:41px;
   }

   .home-abt-img{
  
    width:354px;
    position:relative;
    left:10px;
 
    top: 5%;
   }

   .home-abt-img img{
    max-width: 116%!important;
   }

   .about-text p{
    font-size:16px;
   }
    .about-text p:nth-child(2){
        
        padding-right: 33%;
    }
     
    .about-text p:nth-child(3){
        
        padding-right: 32%;
    }

    .about-text .link{
        background-color:#000000;
        color: white;
        text-decoration: none;
        padding: 2px 50px;
       }
    