.fomu{
    margin-top: 30px;
}

.fomu h2{
    color: #FFFFFF;
    font-weight: 900;
    line-height:56.56px

}

.fomu p{
    color: #FFFFFF;
    font-size: 14px;
}

.fomu input{
    width: 500px;
    outline: none;
    background: #3E3E3E;
border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    border: none;
    height: 30px;
}

.fomu textarea {
    outline: none;
    background: #3E3E3E;
border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    border: none;
    
}

.fomu .but{
    color: black;
    background-color: #FFFFFF;
    width: 150px;
    border-radius: 4px;
}
