.footer{
    background-color: #000000;
    height:840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    position: relative;
}

.footer h2{
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 57px;
color: white;
margin-top: 20px;
position:relative;
top:82px;
}

.footer input{
    
background: #353535;
border: none;
outline: none;
width: 818px;
height: 40px;
padding: 0 30px;
position:relative;
top:92px;


}

.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position:relative;
    top:82px;
}

.futa-logo img{
    padding-right:50px;
    padding-top:4px;
    padding-bottom:25px;
    padding-left:46px;
    display:inline-block;
    transform:translatex(0px) translatey(0px);
    height:129px;
    position:relative;
    left:10px;
    top:16px;
}

.logo-lin1{
   background-color: white;
    height: 3px;
    position:relative;
    left:-22px;
    width:270px;
}

.logo-lin2{
    background-color: white;
     height: 3px;
     width: 300px;
     position: relative;
     left: 3%;
 }

 .footer-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    top:103px;
    
 }

 .location{
    width: 270px;
 }

 .loc1{
   position: relative;
   top: -15%;
 }

 .loc2{
    position: relative;
    left: 5%;
    top: -18%;
 }

 .loc2 a{
   display: block;
   position: relative;
   left: 10%;
   color: white;
   text-decoration: none;
 }

.loc2 h4{
   position: relative;
   left: 11%;
}

 .loc3{
    position: relative;
    left: 5%;
    top: 5%;
 }

 .loc3 a {
   display: block;
   color: white;
   text-decoration: none;
 }

 .location p{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 400px;
    

 }

 .location h4{
   color: white;
   font-weight: 900;
 }
 .sen {
   position: absolute!important;
   top: 41%!important;
   width: 8%!important;
   color: white;
   left: 70%!important;
   height: 30px!important;
   background-color: transparent!important;
}
@media all and (max-width: 320px) {
   .footer h2{
      text-align: center;
   }
   .sen {
      top: 34.5%!important;
      width: 41%!important;
      left: 67%!important;
  }
 }

 @media all and (max-width: 768.98px) { 
 
   .footer input {
      width:100%
   }
   .footer{
      height: 1154px;
   }
   .footer-contact {
      flex-direction: column;
      text-align: center;
   }
   .logo-lin2{
      display: none;
   } 

   .logo-lin1{
      display: none;
   }
   .loc1{
      position: relative;
      top: 0;
      left: 5%;
   }
   .loc2{
      position: relative;
    left: -5%;
    top: 0;
   }

   .sen {
      
      top: 44%!important;
      width: 37%!important;
      
      left: 42%!important;
     
  }
 }

 @media only screen and (max-width: 830px) and (min-width: 576px) {
   .sen{
      top: 44%!important;
      left: 42%!important;
   }
   .loc3 {
      position: relative;
      left: 0%!important;
      top: 21%!important;
  }
  .loc1 {
   position: relative;
   top: 2%!important;
   left: -1%!important;
}
 }


 @media only screen and (max-width: 991.98px) and (min-width: 768px) {
   .footer-contact{
      flex-direction: row;

   }

   .location{
      width: 244px;
   }
   .sen{
      width: 20%!important;
      left: 42%!important;
   }
   /* .loc3{
      top: 24%!important;
   } */
 }

 @media only screen and (max-width: 830px) and (min-width: 576px) {
   .location {
      width: 226px!important;
  }
  .logo-lin1 {
   display: block!important;
   left: -43px!important;
   width: 210px!important;
}
  .logo-lin2{
   left: 7%!important;
   display: block!important;
   width: 210px!important;
  }
  .futa-logo img{
   left: 113px!important;
  }
  .footer input {
   width: 92%!important;
}
.futa-logo img{
   left: -7px!important;
}
 }

 @media only screen and (max-width: 1024.98px) and (min-width: 992px) {
  .sen{
   left: 78%!important;
  } 
 }
 