.eve{
    margin-top: 100px;
}

.eve h2{
    text-align: center;
}

@media only screen and (max-width: 830px) and (min-width: 576px) {
    .abou-up{
        left: 0!important;
        top: 87%!important;

    }
    .up-icon {
        left: 413px!important;
    }
}

@media only screen and (max-width: 1024.98px) and (min-width: 992px) {
    .up-icon{
        left: 623px !important;
    }
}