.one {
    height: 2px;
    width: 15px;
    background-color: white;
    margin-left:15px;
  }

  .two {
    height: 2px;
    width: 30px;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .three {
    height: 2px;
    width: 15px;
    background-color: white;
  }

  .nav-menu {
    background-color: #3F5B2C;
    width: 250px;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    position: fixed;
    top: 8px;
    right: -100%;
    transition: 850ms;
  }

  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: left;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #3F5B2C;
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: start; */
    align-items: center;
  }

  .menu-bars1{
    position: absolute;
    left: 93%;
    top: 4%;
  }
  
  
  .logo{
    position: absolute;
    height: 40px;
    width: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    padding: .5%;
    left: 4%;
  }
  
  .logo-img{
    max-width: 100%;
    max-height: 100%;
  }

  .menu-bars{
    color: white;
    margin-left:80%
  }
  