
.events-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    top:85px;
}

.events-header-text{
    position:relative;
    top:-46px;
    left: 30px;
   }

   .eve-icon{
    left: 825px!important
   }

/* .events-icon{
    position:relative;
    left: 837px !important;;
 top:-49px;
   } */

   .events-icon svg{
    position: relative;
    left: -20px;
    top: 19px;
   }

   .past{
    margin-top: 100px;
   }

   .eventsfooter{
    margin-top: 100px;
   }

   @media all and (max-width: 768px) { 
    .events-icon{
        display: none;
    }
    .events-header-text{
        left: 100px;
        font-size: 30px;
        font-weight: 900;
        top: -160px;
    }
   }

   @media all and (min-width: 1250px) {
    .events-header{
        top: 260px;
    }
    }

    @media only screen and (max-width: 991.98px) and (min-width: 768px) {
        .events-icon{
            left: 468px!important;
        }
    }

    @media only screen and (max-width: 830px) and (min-width: 576px) {
        .abou-eve{
            left: 0!important;
            top: 87%!important;

        }
        .about-line2{
            display: block;
        }
        .events-icon {
            left: 461px!important;
        }
    }

    @media only screen and (max-width: 1024.98px) and (min-width: 992px) {
        .events-icon{
            left: 673px !important;
        }
    }

    @media only screen and (min-width: 1440px) {
        .events-icon{
            left: 971px!important;
        }
    }