
.events-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    top:85px;
}

.events-header-text{
    position:relative;
    top:-46px;
    left: 30px;
   }

.events-icon{
    position:relative;
    left: 837px !important;;
 top:-49px;
   }

   .events-icon svg{
    position: relative;
    left: -20px;
    top: 19px;
   }

   .past{
    margin-top: 100px;
   }

   .eventsfooter{
    margin-top: 100px;
   }